

<h2>Edit your property</h2>

<div id="basic-details-edit">
    <h3> Your property master data</h3>

  <form class="myproperty-view-element flex-col" action="/properties/<%= property._id %>/edit/property" method="POST" id="form-container"> 
    <div class="one-col flex-row">
        <label for="propertyname">Property Name</label>
        <input class="flex-item-grow" id="propertyname" type="text" name="propertyname" value="<%= property.name %>">  
    </div>
    <h4>Property location:</h4>
    <div class="one-col flex-row">
      <label for="streetEdit">Street</label>
      <input class="flex-item-grow" id="streetEdit" type="text" name="street" value="<%= property.street %>">
    </div>
    <div class="one-col flex-row">
      <label for="streetnrEdit">Number</label>
      <input class="flex-item-grow" id="streetnrEdit" type="text" name="streetnumber" value="<%= property.nr %>">
    </div>
    <div class="one-col flex-row">
      <label for="zipEdit">ZIP Code</label>
      <input class="flex-item-grow" id="zipEdit" type="text" name="zip" value="<%= property.zip %>">
    </div>
    <div class="one-col flex-row">
      <label for="cityEdit">City</label>
      <input class="flex-item-grow" id="cityEdit" type="text" name="city" value="<%= property.city %>">
    </div>
    <div class="one-col flex-row">
      <label for="countryEdit">Country</label>
      <input class="flex-item-grow" id="countryEdit" type="text" name="country" value="<%= property.country %>"> 
    </div>
    <button class ="call-button" type='submit'>Submit</button>
  </form>
</div>

<div id="property-tenants">
  <h3> Tenant management</h3>
   
  <div class="myproperty-view-element">
    <p>Your listed tenants</p>
    <ol>
      <% property.tenants.forEach(function (tenant, index)  { %>
        <li class="property-row">
          Tenant
          <p>username: <%= tenant.username %></p>
          <p> tenant email: <%= tenant.email %></p>
        </li>
      <% }); %>
    </ol>
  </div>

  <p class="myproperty-view-header"> Add new tenants:</p>
  <form class ="myproperty-view-element" action="/properties/<%= property._id %>/edit/createtenant" method="POST">
    <label for= "tenant-username">Tenant username</label>
    <input id="tenant-username" name="tenantUsername" type="text" placeholder="unique username">
    <label for= "tenant-mail">Tenant mail</label>
    <input id="tenant-mail" name="tenantmail" type="text" placeholder="Email" >
    <label for= "tenant-pw">Tenant pw</label>
    <input id="tenant-pw" name="tenantpw" type="text" placeholder="default password" >
    <button class ="call-button" type="submit">Create new tenant</button>
  </form>
</div>

<h3> Your property records</h3>
<div class="myproperty-view-element" id="accounting-book">
  <div id="column-headers">
    <div>
      <p>Record</p>
    </div>
    <div>
      <p>Value</p>
    </div>
    <div>
      <p>Date</p>
    </div>
  </div>
  <% property.accountingbook.forEach(function (element, index)  { %>
    <div class="accounting-row">
    <span><%= element.name %></span>
    <span><%= element.value %></span>
    <span><%= element.date.toString().slice(0,10)%></span>
    <form action="/properties/<%= property._id %>/<%= element._id %>/delete" method="POST">
      <button class ="call-button" type="submit">Delete row</button>
    </form>
  </div>
  <% }); %>

  <form class="" action="/properties/<%= property._id %>/edit/account" method="POST">
    <div class="accounting-row">
      <div>
        <select name="accountItem" id="account-item">
          <option value="rent" selected>Rent</option> 
          <option value="tenant-fee">Tenant Fee</option>
          <option value="gas">Gas</option>
          <option value="electricity">Electricity</option>
          <option value="appartment-construction">Appartment construction</option>
          <option value="wifi">Wifi</option>
          <option value="community">Community</option>
          <option value="general-maintenance">General maintenance</option>
        </select>
      </div>
      <div>
        <input name="value" type="number" >
      </div>
      <div>
        <input name="date" type="date" >
      </div>
    </div>

    <button class ="call-button" type="submit" id="btn-add-record">Add New Record</button>
  </form>


  <% if (typeof message !== "undefined") { %>
    <div><%= message %></div>
  <% } %>

</div>

