<a href="/properties/my-properties">Home</a>
<a href="/logout">Logout</a>

<h2>Edit your property</h2>

<div id="basic-details-edit">
  <form action="/properties/<%= property._id %>/edit" method="POST" id="form-container">

  <label for="propertyname">Property Name</label>
  <input id="propertyname" type="text" name="propertyname" value="<%= property.name %>">
  <br><br>
  <p>Property location:</p>
  <label for="streetEdit">Street</label>
  <input id="streetEdit" type="text" name="street" value="<%= property.street %>">
  <label for="streetnrEdit">Number</label>
  <input id="streetnrEdit" type="text" name="streetnumber" value="<%= property.nr %>">
  <label for="zipEdit">ZIP Code</label>
  <input id="zipEdit" type="text" name="zip" value="<%= property.zip %>">
  <label for="cityEdit">City</label>
  <input id="cityEdit" type="text" name="city" value="<%= property.city %>">
  <label for="countryEdit">Country</label>
  <input id="countryEdit" type="text" name="country" value="<%= property.country %>">
  
  <!-- <% if (typeof message !== "undefined") { %>
      <div class="error-message"><%= message %></div>
  <% } %> -->

  <br><br>
    <button type='submit'>Submit</button>
</div>


<br><br>

<div id="accounting-book">

  <div id="column-headers">
    <div>
      <p>Record</p>
    </div>
    <div>
      <p>Value</p>
    </div>
    <div>
      <p>Date</p>
    </div>
  </div>


  <% property.accountingbook.forEach(function (element, index)  { %>
    <div class="accounting-row">
    <span><%= element.name %></span>
    <span><%= element.value %></span>
    <span><%= element.date.toString().slice(0,10)%></span>
  </div>
  <% }); %>

    <div class="accounting-row">
      <div>
        <select name="accountItem" id="account-item">
          <option value="rent" selected>Rent</option> 
          <option value="tenant-fee">Tenant Fee</option>
          <option value="gas">Gas</option>
          <option value="electricity">Electricity</option>
          <option value="appartment-construction">Appartment construction</option>
          <option value="wifi">Wifi</option>
          <option value="community">Community</option>
          <option value="general-maintenance">General maintenance</option>
        </select>
      </div>
      <div>
        <input name="value" type="number" >
      </div>
      <div>
        <input name="date" type="date" >
      </div>
    </div>

    <button type="submit" id="btn-add-record">Add New Record and Update Property Info</button>
  </form>

<br><br>

  <% if (typeof message !== "undefined") { %>
    <div><%= message %></div>
  <% } %>

</div>

