<h2>Welcome user</h2>
<h3>Here you can manage your properties</h3>
<% if( properties !== undefined){
   properties.forEach(function (element){
  %>
  <div>
    <p>Property:<%= element.name %> Address: <%= element.street %>, <%= element.nr %> (<%= element.zip %>,<%= element.city %>,<%= element.country %>)</p>
    <button><a href="/properties/<%=element._id%>/edit">Edit property</a></button>
    <button><a href="/properties/view/<%=element._id%>">View property</a></button>
  </div>
  <%
  }); 
}%>

<button id="newProp"><a href="/properties/create">Create a new property</a></button>

<!-- Google Maps API settings -->
<h3>My properties localization</h3>
<div id="map"></div>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM3SVtttv2pqI2Z9vufnl63sE0eblMRnM">
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>



