<h2>Welcome user</h2>
<h3>Here you can manage your properties</h3>
<% if( properties !== undefined){
   properties.forEach(function (element){
  %>
  <div class="myproperty-block"> 
    <p class="myproperty-view-header">Property: <%= element.name %></p>
    <div class="myproperty-view-element">
    <p>Address: <%= element.street %>, <%= element.nr %> (<%= element.zip %>,<%= element.city %>,<%= element.country %>)</p>
      <div class="location_stats hide">
        <span><%= element.location.coordinates[0] %></span>
        <span><%= element.location.coordinates[1] %></span>
      </div>
      <button class="call-button"><a href="/properties/<%=element._id%>/edit">Edit</a></button>
      <button class="call-button"><a href="/properties/view/<%=element._id%>">View</a></button>
      <button class="call-button"><a href ="/properties/<%= element._id %>/posts/show/">Tenant communication</a></button>
      </div>
  </div>
  <%
  }); 
}%>

<button id="newProp" class="call-button"><a href="/properties/create">Create a new property</a></button>

<!-- Google Maps API settings -->
<h3>My properties localization</h3>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM3SVtttv2pqI2Z9vufnl63sE0eblMRnM"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>



