<h2>Welcome user</h2>
<h3>Here you can manage your properties</h3>
<% if( properties !== undefined){
   properties.forEach(function (element){
  %>
    <p>Property:<%= element.name %> Address: <%= element.street %>, <%= element.nr %> (<%= element.zip %>,<%= element.city %>,<%= element.country %>)</p>
    <button><a href="/properties/<%=element._id%>/edit">Edit property</a></button>
    <button><a href="/properties/view/<%=element._id%>">View property</a></button>
    <br><br>
  <%
  }); 
}%>


<button id="newProp"><a href="/properties/create">Create a new property</a></button>

<a href="/logout">Logout</a>
