<a href="/properties/my-properties">Home</a>
<a href="/logout">Logout</a>

<h1>Your property details</h1>

<table >
  <caption>Monthly balance </caption>
  <tr>
    <th></th>
    <% transactions.forEach(function (element) {
     %> <th> <%= element.month %> </th>
    <% }); %>
  </tr>
  <tr>
    <td>Rent</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.rent %> </td>
    <%}); %>
  </tr>
  <tr>
    <td>Tentant fees</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.tentantFee %> </td>
    <%}); %>
</tr>
<tr>
    <td>Gas</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.gas %> </td>
    <%}); %>
</tr>
<tr>
    <td>Electricity</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.electricity %> </td>
    <%});%>
</tr>
<tr>
    <td>Appartment construction</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.appartmentConstruction %> </td>
    <%});%>
</tr>
<tr>
    <td>Wifi</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.wifi %> </td>
    <%});%>
</tr>
<tr>
    <td>Community</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.community %> </td>
    <%});%>
</tr>
<tr>
    <td>General maintenance</td>
    <% transactions.forEach(function (element) {
      %> <td> <%= element.generalMaintenance %> </td>
    <%});%>
</tr>
</table>
